body {

    background-color: #9F76B2;
    color: #483248;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 18px;
}

h1 {

    color:#5D071C;
    text-align: center;
}

span {

    color:orange;
}

img {

    width: 400px;
    height: 300px;
    border: dotted 7px #5D071C;
}

.belaPozadina {

    background-color: white;
    
}

.narandzastiTekst {

    color: orange;
}


#prviParagraf {

    text-align: right;
}

