
#prva_tabela {

    border-collapse: collapse;
    min-width: 500px;
}

#prva_tabela tr td {

    border: 3px solid white;
}

#druga_tabela tr:nth-child(1) td h3 {

    text-align: center;
}


#druga_tabela {

    border-collapse: collapse;
    max-width: 400px;

}

img {

    width: 100%;
    height: 100%;
}

