* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {

   
    position: fixed;
    width: 100%;
    top: 0;

}

nav ul {


    width: 100%;
    overflow: hidden;


}

nav ul li {

    list-style: none;
    background-color: yellow;
    float: left;
    width: 10%;
}


.submenu {

    display:none;
}