div {

    background-color: blue;
}

div div {

    background-color: green;
}

span {

    background-color: yellow;
}

span:nth-child(2) {

    background-color: grey;
    
}

div:nth-child(2) {

    background-color: red;
    color: white;
}

