* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: dodgerblue;
}

/*header*/
header {
  margin-bottom: 10px;
}

header h1 {
  text-align: center;
  color: white;
  background-color: dodgerblue;
}
header h3 {
  color: rgb(255, 217, 0);
  background-color: dodgerblue;
}

/* buttons*/
.btn {
  background-color: dodgerblue;
  color: white;
  height: 40px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(238, 219, 113);
  font-weight: bold;
}
.btn:active {
  background-color:rgb(238, 219, 113);;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*nav bar*/
nav {
  font-size: 30px;
  text-align: center;
}
nav .btn {
  border: 3px solid white;
}

/* forms */
input[type="text"] {
  border-radius: 5px;
  height: 30px;
  margin: 5px;
  border: 2px solid dodgerblue;
}
input[type="text"]:focus {
  outline: 3px solid rgb(238, 219, 113);
}

input[type="submit"] {
  border-radius: 5px;
  height: 30px;
  margin: 5px;
}

/*span in messages*/
span {
  margin: 5px;
}
.username {
  font-weight: bold;
}
.date {
  color: grey;
}

/*li messages*/
ul {
  list-style-type: none;
  background-image: url("chat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  overflow-y: scroll;
}

li {
  background-color: rgb(238, 219, 113);
  border-radius: 0px 10px 10px 10px;
  margin: 10px;
  padding: 10px;
  width: 50%;
  border: 2px solid dodgerblue;
}

.left {
  float: left;
  border-radius: 0px 10px 10px 10px;
}

.right {
  float: right;
  border-radius: 10px 0px 10px 10px;
}

#divMessage {
  text-align: center;
  color: red;
  font-size: "20px";
  font-weight: bold;
}

#divUsername {
  text-align: center;
  color: red;
  font-size: "20px";
  font-weight: bold;
}

/*responsive*/

/*Za desktope*/
.row {
  width: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  [class*="col-"] {
    float: left;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/*Za mobilni*/

@media only screen and (max-width: 599px) {
  [class*="col-"] {
    width: 100%;
  }
}
